<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="home.css" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/" />
    <link href="sidebars.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
    <title>WMS</title>
    <script src="https://cdn.socket.io/4.7.1/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script>
      function getMessage() {
        const socket = io("http://localhost:3002");

        socket.on("connect", () => {
          console.log("connected");
        });

        socket.on("emitMessage", (message) => {
          console.log("====================== EMIT MESSAGE HTML ===========================");
          var serviceNameCell = document.getElementById("admin-table-service");
          var numRequestCell = document.getElementById("admin-table-num-request");
          var avgTimeCell = document.getElementById("admin-table-avg-time");
          var availabilityCell = document.getElementById("admin-table-availability");
          serviceNameCell.innerHTML = message._id;
          numRequestCell.innerHTML = message.total_request;
          avgTimeCell.innerHTML = message.avgDuration;
          console.log("service availability" + message.latest_request_status);
          availabilityCell.innerHTML = message.latest_request_status ? "Available" : "Unavailable";
        });
      }
    </script>
  </head>
  <body id="home" onload="getMessage()">
    <main class="d-flex flex-nowrap">
      <!-- create sidebar  -->
      <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
          <img src="/images/logo.png" alt="logo" width="80%" height="80%" />
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li><a href="/monitor" class="nav-link text-white">Dashboard</a></li>
          <li><a href="#ViewAccount" class="nav-link text-white">View Account</a></li>
        </ul>
        <hr />

        <!-- create user dropdown list  -->
        <div class="dropdown">
          <a href="#dropdown-item" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://e7.pngegg.com/pngimages/178/595/png-clipart-user-profile-computer-icons-login-user-avatars-monochrome-black.png " alt="" width="32" height="32" class="rounded-circle me-2" />
            <strong>User</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="/no-page">Settings</a></li>
            <li><a class="dropdown-item" href="/no-page">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/">Sign out</a></li>
          </ul>
        </div>
      </div>

      <!-- create section show available account -->
      <div class="page-content">
        <div class="content-wrapper">
          <h2 style="padding: 2% 2% 2% 2%">Microservice Monitoring</h2>
          <div class="table-wrapper">
            <!-- dummy table with lorem ipsum -->
            <table class="table table-striped" style="height: fit-content; width: 96%">
              <thead>
                <tr>
                  <th>Services</th>
                  <th>Number of Request</th>
                  <th>Average Processing Time</th>
                  <th>Availability</th>
                </tr>
              </thead>
              <tbody id="monitoring-table-body">
                <tr id="admin-table-row">
                  <td id="admin-table-service"></td>
                  <td id="admin-table-num-request"></td>
                  <td id="admin-table-avg-time"></td>
                  <td id="admin-table-availability"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
