<!--
  Author: Allen Dylan Antony
  Date: 14 June 2023
  Functionality: display 404 page where no directed page found
-->

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="home.css" />
    <title>WMS</title>
  </head>
  <body>
    <h1>Page on Maintanance</h1>
  </body>
</html>
